/* Fade Animation */

.bot-message,
.user-message{

    animation:fadeIn .4s;

}

.flight-card,
.booking-card{

    animation:fadeIn .4s;

}

@keyframes fadeIn{

    from{

        opacity:0;
        transform:translateY(10px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}

/* Button Hover */

.menu-btn,
.quick-btn,
.action-btn,
.flight-card button,
.chat-input button{

    transition:.3s;

}

/* Small Hover Effect */

.flight-card:hover{

    transform:scale(1.02);

}

.booking-card:hover{

    transform:scale(1.02);

}